/* geist-mono-variable-regular */
@font-face {
	font-family: Geist Mono Variable;
	font-style: normal;
	font-weight: 400;
	src: local("Geist Mono Variable Regular"), local("GeistMonoVariable-Regular"), url(geist-mono-variable-regular.woff2) format("woff2");
}

