@import url(./main.scss);
@import url(./color.scss);
@import url(./animations.scss);
@import url(./fonts.scss);

body {
  background-color: #ffffff;
  max-width: 100% !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: "Geist Mono";
  font-weight: 500;
}

h1,
h2 {
  color: #1d1d1d;
  font-weight: 800;
  font-family: 'InterDisplay';
}

::selection {
  background-color: var(--boek-green-1);
  color: var(--white);
}