:root {
  --background-color: #fff;
  --color-accent: #00ad9a;
  --white: #fff;
  --link-gray: #555;
  --hover-link-gray: #333;
  --silver: #ccc;
  --footer-back: #f2f2f2;
  --footer-social: #007bff;
  --black: #000;
  --faq-color: #e9e9e9;
  --intro-back: #000000cc;
  --scroll-down-back: #3f363638;
  --partners-back: #f6f6f6;
  --boek-green-1: #00ad9a;
  --boek-green-2: #00534a;
  --boek-green-3: #003a33;
  --boek-green-4: #46ffe9;
  --boek-dark-green-1: #004f45;
  --benefits-back: #42414b;
  --facebook-back: #dadfed;
  --facebook-blue: #4267b2;
  --vacancies-link-back: #0055b8;
  --vacancies-link-back-hover: #0069d9;
  --quick-call-color: #dadada;
  --slides-background-color: #fefffe94;
  --davy-gray: #575757;
  --test-drive-mobile-background: #2d2f38;
  --test-drive-mobile-section-background: #42414bb0;
  --test-drive-mobile-background-2: #eee;
  --my-data: #443f3f;
  --scroll-down: #00000000;
  --test-drive-mobile-section-3: #42414bb0;
  --test-drive-mobile-3: #2d2f38;
  --pop-up-overlay: #00000080;
  --copyright: #666;
}
