.icon {
  font-size: 55px;
}

h2 {
  font-weight: 800 !important;
}

/* Mobile */

@media (max-width: 767px) {
  body {
    padding-top: 7.5rem !important;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .mobile-only {
    display: flex !important;
  }

  .scroll-down {
    display: none;
  }

  html[lang="ru"] .quick-number {
    display: none !important;
  }

  html[lang="ru"] li a {
    font-size: 13px;
  }

  .language-icon::before,
  .language-icon::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    background-color: var(--white);
    transform: translateY(-0%);
  }

  .language-icon::before {
    left: 0;
  }
}

/* @media (max-width: 768px) {
.video-wrapper .overlay {
  height: calc(100% - 79px);
  background-color: rgba(0, 15, 14, 0.4);
}
video {
  width: 100%;
  height: calc(100% - 79px);
}
}

@media (max-width: 480px) {
.video-wrapper .overlay {
  height: calc(100% - 119px);
  background-color: rgba(0, 15, 14, 0.2);
  z-index: 1;
}
video {
  width: 100%;
  height: calc(100% - 119px);
}
}
*/

.external-links-icon {
  font-size: 35px;
  margin-bottom: 15px;
}

.quick-number {
  text-align: center;
  display: block;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  header li {
    margin-top: 10px;
  }
}

@media screen and (min-width: 974px) {
  #test-drive-mobile section {
    border-color: var(--boek-green-1);
    text-align: center;
    padding: 20px;
    width: 80%;
  }

  .line {
    width: 100%;
    height: 0;
    border: 1px solid var(--boek-green-1);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1632px) {
  #test-drive-mobile {
    background-color: var(--test-drive-mobile-3);

    section {
      flex: 0 0 auto;
      width: 90%;
      box-sizing: border-box;
      background-color: var(--test-drive-mobile-section-background);
    }
  }

  .swipable-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.touch-space {
  padding: 120px;
}

@media screen and (min-width: 770px) and (max-width: 1064px) {
  .scroll-down {
    display: none;
  }
}

@media screen and (min-width: 658px) and (max-width: 770px) {
  .intro {
    max-width: 80%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 934px) {
  .slogan {
    min-width: 100%;
  }
}

@media screen and (min-height: 1844px) {
  .scroll-down {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1456px) {
  .md {
    display: none;
  }

  .quick-office {
    display: none;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pop-up-overlay);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  background-color: var(--white);
  padding: 5px;
  border-radius: 8px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--link-gray);
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.form-title {
  font-size: 25px;
  margin-bottom: 5px;
}

#form-desc {
  margin-bottom: -15px;
}

#form-sup {
  margin-top: 0 !important;
  font-size: 12px;
}

.form-control {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;
  resize: none;
  font-family: "Inter", sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
    color: var(--white);
    border-color: #333;
  }
}

.form-control:focus {
  outline: none;
  border-color: #3498db;
}

.btn-primary {
  background-color: var(--boek-green-1);
  color: var(--black);
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--boek-green-2);
  color: var(--white);
}

#ignore-link:hover {
  padding: 0;
  background-color: #ffffff00;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.625rem;
  margin-top: 1rem;

  @media screen and (max-width: 57.125rem) {
    grid-template-columns: 1fr;
  }
}
