@import url(./main.css);
@import url(./color.css);
@import url(./animations.css);
@import url(./fonts.css);

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  max-width: 100% !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: "Geist Mono";
  font-weight: 500;
}