header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  padding: 0 6%;
  background-color: #ffffffed;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 4px #0000001a;
  border-radius: 0% 0% 2% 2%;
  z-index: 1000;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: "InterDisplay";
}

h1 img {
  height: 28px;
  width: 157.783px;
  transition: padding 0.3s, border-radius 0.3s, background-color 0.3s;
}

header h1 img:hover {
  padding: 1px;
  border-radius: 5px;
  background-color: #bebebe84;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li:not(:first-child) {
  margin-left: 20px;
}

header li:first-child {
  margin-left: 0;
}

header .li {
  margin: 0 !important;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--link-gray);
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
  cursor: pointer;
}

a:hover {
  color: var(--hover-link-gray);
}

header li a {
  transition: all 300ms;
}
header li a:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #c1c1c184;
}

header .dropdown-content a:hover {
  padding: 10px;
}

.quick-office {
  text-align: left !important;
  font-size: 15px;
}

.quick-number {
  font-size: 12px;
}

.language-icon {
  position: relative;
}

.language-icon::before,
.language-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: var(--silver);
  transform: translateY(-50%);
}

.language-icon::before {
  left: -10px;
}

.language-icon::after {
  right: -10px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  max-width: 100% !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-wrapper {
  position: right;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: -600px !important;
  overflow: hidden;
}

.video-wrapper video {
  object-fit: cover;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-width: 100%;
  min-height: 10%;
  width: auto;
  height: 100% !important;
  z-index: -2;
  clear: both;
}

.intro {
  margin-top: 1%;
  font-family: "Inter", sans-serif;
  text-align: justify;
  color: var(--white);
  margin-left: 2%;
  line-height: 1.5;
  max-width: calc(25% - 25px);
}

footer {
  background-color: var(--footer-back);
  padding: 1rem;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social-link {
  color: #333;
  font-size: 1.5rem;
  margin: 0.5rem;
  transition: color 0.3s;
}

.footer-social-link:hover {
  color: #007bff;
}

.footer-additional {
  margin-top: 1rem;
}

.footer-additional a {
  color: var(--hover-link-gray);
  text-decoration: none;
  margin: 0.5rem;
  transition: color 0.3s;
}

.footer-additional a:hover {
  color: var(--footer-social);
}

.footer-copyright {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.footer-copyright a {
  color: var(--copyright);
}

.made-by {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  text-align: center;
  color: var(--black);
  font-weight: 600;
}

.hard {
  position: relative;
}

.hard::before {
  content: "dream";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--black);
  z-index: 0;
  margin: 0%;
}

.filter__link {
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.slogan {
  text-align: center;
  margin-top: 9.2%;
  margin-left: 2%;
  font-size: 500%;
  text-align: justify;
  font-weight: 900;
  color: var(--white);
}

.owner-link {
  color: var(--black) !important;
  margin-left: 0px !important;
  text-decoration: underline 1.5px !important;
  transition: text-decoration 0.5s !important;
  font-weight: 800;
}

.owner-link:hover {
  text-decoration: underline green 1.5px !important;
  color: var(--black);
}

.flights-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}

.flights-desc {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 90%;
  text-align: center;
  margin-top: 0.5%;
}

#other-address {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 90%;
  text-align: center;
  margin: 0.5% 0;
  padding: 10px 0;
}

/* Mobile */

@media (max-width: 767px) {
  header {
    flex-direction: column !important;
    justify-content: center !important;
    height: 120px !important;
    padding: 20px !important;
    width: 100% !important;
    top: 0 !important;
    position: fixed !important;
    z-index: 999 !important;
  }

  header h1 {
    margin-bottom: 10px;
  }

  header nav {
    margin-top: 20px;
  }

  body {
    padding-top: 120px !important;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }

  .video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 600px;
    padding-bottom: 190%;
    margin-top: -27%;
    margin-bottom: 30px !important;
  }

  .video-wrapper video {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hard {
    z-index: -1;
  }

  .intro {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    line-height: 1.5;
    font-size: 85%;
    max-width: calc(100% - 40px);
    color: var(--white);
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
  }

  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    font-size: 182%;
    min-width: 250px;
    font-weight: 900;
    color: var(--white);
    text-align: left;
    z-index: 1;
  }

  .map {
    width: 100%;
    height: 507px !important;
  }

  .video-wrapper .overlay {
    height: 90% !important;
  }

  .hide-on-mobile {
    display: none;
  }

  .container > .join-us {
    position: absolute;
    display: flex;
    top: 450px !important;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  #external-links li a {
    min-width: 320px;
  }

  .mobile-only {
    display: flex !important;
  }

  footer .badges {
    aspect-ratio: 16/9;
    object-fit: contain;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative;
    margin-bottom: 20px;
  }

  .content-trucks {
    margin: 0 auto !important;
  }

  #live-trucks {
    background-position: 45% !important;
  }

  .scroll-down {
    display: none;
  }

  html[lang="ru"] .quick-number {
    display: none !important;
  }

  html[lang="ru"] li a {
    font-size: 13px;
  }

  .language-icon::before,
  .language-icon::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    background-color: var(--white);
    transform: translateY(-0%);
  }

  .language-icon::before {
    left: 0;
  }

  .dependencies {
    margin-left: 130% !important;
  }

  .aeolus-card {
    margin-top: 201px !important;
    margin-left: 125% !important;
  }
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -13px;
  background-color: var(--white);
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.25);
  padding: 3px;
  margin: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 0px;
  transition: all 3s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: var(--hover-link-gray);
  text-decoration: none;
  text-align: center;
}

.dropdown-content a:last-child {
  margin-bottom: 4px;
}

.dropdown-content a:hover {
  background-color: var(--test-drive-mobile-background-2);
}

.dropdown-content h4 {
 margin: 8px;
 text-align: center;
 font-size: 15px;
 font-weight: 800;
}

.call-footer {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 120%;
  text-align: center;
  margin-top: 0.5%;
}

/* Don't touch it for now */
/* .map {
margin: 0 auto;
margin-top: 10px;
border-style: hidden;
border-radius: 5%;
border-color: #777;
width: 600px;
height: 450px;
}
*/

#locations {
  padding-top: 50px;
}

.slogan .hard {
  position: relative;
}

html[lang="ru"] .slogan .hard::before {
  content: "мечте";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--black);
  z-index: -1;
  margin: 0%;
}

html[lang="ro"] .slogan .hard::before {
  content: "visul";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--black);
  z-index: -1;
  margin: 0%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 99px);
  /* background-color: rgba(0, 15, 14, 0.604); */
  background: linear-gradient(
    180deg,
    rgba(0, 15, 14, 0.6) 32.55%,
    rgba(0, 35, 33, 0.1) 100%
  );
  z-index: -2;
}

/* @media (max-width: 768px) {d
.video-wrapper .overlay {
  height: calc(100% - 79px);
  background-color: rgba(0, 15, 14, 0.4);
}
video {
  width: 100%;
  height: calc(100% - 79px);
}
}

@media (max-width: 480px) {
.video-wrapper .overlay {
  height: calc(100% - 119px);
  background-color: rgba(0, 15, 14, 0.2);
  z-index: 1;
}
video {
  width: 100%;
  height: calc(100% - 119px);
}
}
*/

.join-us {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--white);
  color: var(--hover-link-gray);
  font-size: 18px;
  border: none;
  margin-top: 30px;
  margin-left: 10%;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.join-us:hover {
  background-color: var(--black);
  color: #fff;
}

.faq-section {
  background-color: #222;
  padding: 40px 0;
  color: var(--white);
}

.container-faq-question {
  background-color: var(--hover-link-gray);
  padding: 30px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.title-faq-question {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.paragraph-faq-question {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--faq-color);
}

.faq-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.w-layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .w-layout-grid {
    grid-template-columns: 1fr;
  }
}

.map-container {
  position: relative;
  height: 500px;
}

.map-container .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.md {
  font-size: 35px;
}

@media screen and (min-width: 768px) and (max-width: 1643px) {
  .video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 140% !important;
    margin-top: -70px;
  }
  .video-wrapper .overlay {
    display: none;
  }
  .video-wrapper {
    height: 1px !important;
    margin: -300px !important;
    overflow: hidden;
  }
  .intro {
    max-width: calc(60% - 60px);
    background-color: var(--intro-back);
    padding: 13px;
    font-size: 15px;
    border-radius: 9px;
  }
  .slogan {
    max-width: calc(70% - 70px);
  }
  .join-us {
    margin-left: 300px !important;
  }
  .scroll-down {
    background-color: var(--scroll-down-back);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .quick-office {
    display: none;
  }
}

@media screen and (min-width: 1275px) and (max-width: 1456px) {
  .md {
    display: none;
  }

  header h1 {
    margin-top: 10px;
  }
}

#partners {
  max-width: 100% !important;
  align-items: center;
  padding: 50px 0;
  background-color: var(--partners-back);
  text-align: center;
}

#partners h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#partners p {
  font-size: 18px;
  margin-bottom: 40px;
}

#partners ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

#partners li {
  flex: 0 0 33.33%;
  padding: 20px;
}

#partners li img {
  max-width: 100%;
  height: auto;
}

#external-links {
  background-color: #ffffff;
  max-width: 100% !important;
  padding: 50px 0;
  text-align: center;
}

#external-links h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#external-links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

#external-links li {
  flex: 0 0 33.33%;
  padding: 20px;
}

#external-links li a {
  display: inline-block;
  padding: 10px 20px;
  width: 350px;
  border: 2px solid #000;
  background-color: var(--boek-green-1);
  color: black;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#external-links li a:hover {
  background-color: var(--boek-green-2);
  color: var(--white);
}
/* Benefits Section */
#benefits {
  color: var(--white);
  background-color: var(--benefits-back);
  padding: 50px 0;
  text-align: center;
}

#benefits h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#benefits ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

#benefits li {
  flex: 0 0 33.33%;
  padding: 20px;
}

#benefits li p {
  font-size: 17px;
  margin-bottom: 10px;
}

#benefits li i {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--white);
}

#facebook {
  max-width: 100% !important;
  background-color: var(--facebook-back);
  padding: 60px 0;
  text-align: center;
}

#facebook h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#facebook p {
  font-size: 16px;
  margin-bottom: 40px;
}

.facebook-link {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  background-color: var(--facebook-blue);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.facebook-link i {
  margin-right: 10px;
}

.facebook-link:hover {
  color: white;
  background-color: #39579a;
}

/* Vacancies Section */
#vacancies {
  background-color: var(--boek-green-1);
  color: var(--black);
  max-width: 100% !important;
  padding: 60px 0;
  text-align: center;
}

#vacancies h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#vacancies p {
  font-size: 16px;
  margin-bottom: 40px;
}

.vacancies-link {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  background-color: var(--vacancies-link-back);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vacancies-link i {
  margin-right: 10px;
}

.vacancies-link:hover {
  color: var(--white);
  background-color: var(--vacancies-link-back-hover);
}

.quick-call {
  margin-top: 500px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .quick-call {
    margin-top: 50rem !important;
  }
  .video-wrapper {
    height: 800px !important;
  }
  video {
    height: calc(1000% - 1000px) !important;
    width: 100%;
  }
  .intro {
    width: 100% !important;
  }
}
.quick-call a {
  color: var(--quick-call-color) !important;
}

#footer-special-link {
  color: var(--hover-link-gray);
  margin-top: 25px;
  margin-bottom: 0;
  padding: 14px;
  font-size: 17px;
}

#footer-special-link:hover {
  text-decoration: underline;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-bal {
  top: 30rem !important;
  right: 34rem;
  text-align: center;
  position: absolute;
  width: 195px;
  height: 250px;
  background-color: var(--slides-background-color);
  backdrop-filter: blur(3px);
  border-radius: 26px;
  padding: 20px;
}

.slide-kiv {
  top: 20rem !important;
  right: 20rem;
  text-align: center;
  position: absolute;
  width: 195px;
  height: 250px;
  background-color: var(--slides-background-color);
  backdrop-filter: blur(3px);
  border-radius: 26px;
  padding: 20px;
}

.slide-var {
  top: 10rem !important;
  right: 5.5rem;
  text-align: center;
  position: absolute;
  width: 195px;
  height: 250px;
  background: var(--slides-background-color);
  backdrop-filter: blur(3px);
  border-radius: 26px;
  padding: 20px;
}

.slide:not(:first-child) {
  display: none;
}

.test-drive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: var(--boek-green-3);
  margin: 0;
}

.varnita {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: var(--black);
  margin: 10px 0;
}

.line {
  width: 155px;
  height: 0;
  border: 1px solid var(--boek-green-1);
  margin-bottom: 10px;
}

.days,
.time,
.address {
  font-family: "Inter";
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--black);
  margin: 0;
}

.cta-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px !important;
  width: 240px !important;
  height: 40px;
}

.cta {
  background: var(--boek-green-1);
  color: var(--black);
  margin-left: -2px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 110px !important;
  height: 40px;
  transition: background-color 200ms;
}
.cta:hover {
  background-color: var(--boek-green-3);
  color: var(--white);
}

.call-now {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  text-align: center !important;
  font-size: 12px;
  color: var(--black);
  margin-top: 15px;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  margin-top: 15px;
  margin-left: -45px !important;
  width: 240px !important;
  height: 40px;
}

.call-to-action a {
  background: var(--boek-green-1);
  color: var(--black);
  margin-left: -2px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  width: 110px !important;
  height: 40px;
  transition: background-color 200ms;
}

.call-to-action a:hover {
  background-color: var(--boek-green-3);
  color: var(--white);
}

.phone {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  color: var(--davy-gray);
  margin-top: 8px;
  margin-right: 10px;
}

.smaller-icon {
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
  .hide-on-880 {
    display: none;
  }
}

.mobile-only {
  display: none;
}

#test-drive-mobile {
  text-align: center;
  margin-top: -100px !important;
  background-color: var(--test-drive-mobile-background);
  color: var(--white);
}

#test-drive-mobile p {
  margin: 0;
}

.test-drive-mobile-title {
  font-size: 1.7rem;
  color: var(--boek-green-4);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.test-drive-mobile-city {
  font-weight: 700;
  font-size: 15px;
}

.test-drive-mobile-section {
  background-color: var(--test-drive-mobile-section-background);
  display: block !important;
  clear: both !important;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
  width: 85%;
  height: 250px;
}

.font-bigger {
  font-size: 17px;
}

.days-mobile,
.time-mobile,
.phone-mobile,
.address-mobile {
  font-family: "Inter";
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--white);
  margin-left: 70px;
  margin-right: 20px;
}

.days-mobile-varnita,
.time-mobile-varnita,
.phone-mobile-varnita,
.address-mobile-varnita {
  font-family: "Inter";
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--white);
  margin-left: 100px;
  margin-right: 20px;
}

.test-drive-call-us-mobile {
  padding: 8px;
  display: inline-block;
  max-width: 170.35px;
  background-color: var(--boek-green-1);
  position: relative;
  font-weight: 800;
  color: var(--black);
  border-radius: 8px;
  margin-top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 150ms;
}

.test-drive-call-us-mobile:hover {
  background-color: var(--boek-green-3);
  color: var(--white);
}

.swipable-container {
  overflow: hidden;
  width: 100%;
}

.swipable-item {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.swipeable-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipeable-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sliver);
  cursor: pointer;
}

.swipeable-dot.active {
  background-color: var(--white);
}

.external-links-icon {
  font-size: 35px;
  margin-bottom: 15px;
}

.quick-number {
  text-align: center;
  display: block;
  font-size: 10px;
}

@media screen and (max-width: 1644px) and (min-width: 880px) {
  .slider {
    display: none;
  }

  .swipable-container {
    display: block;
  }

  #test-drive-mobile {
    background-color: var(--test-drive-mobile-background-2);
  }
}

@media screen and (min-width: 768px) {
  header li {
    margin-top: 10px;
  }
}

.badges {
  position: absolute;
  margin-top: 30px;
  right: 10px;
  width: 500px;
  height: 56.25px;
  margin-top: 30px;
}

@media screen and (min-width: 974px) {
  .test-drive-mobile-section {
    border-color: var(--boek-green-1);
    text-align: center;
    padding: 20px;
    width: 80%;
  }

  .line {
    width: 100%;
    height: 0;
    border: 1px solid var(--boek-green-1);
    margin-bottom: 10px;
  }
}

#live-trucks {
  background-color: #161c24;
  color: var(--white);
  padding: 80px 0;
  padding-top: 40px;
  text-align: center;
  background-image: url("/images/live-trucks.webp");
  background-position: 50%;
  background-size: cover;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#live-trucks h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

#live-trucks p {
  font-size: 20px;
  margin-bottom: 40px;
}

#myData {
  margin: 0 auto;
  padding: 5px 11px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 900;
  background-color: var(--my-data);
  display: inline-block;
}

.content-trucks {
  margin-right: 500px;
}

.scroll-down {
  padding: 15px;
  border-radius: 70px;
  background-color: var(--scroll-down);
  color: var(--white);
  border: solid 2px var(--boek-green-1);
  margin-left: 150px;
  font-size: 16px;
  position: absolute;
  margin-top: 30px;
  transition: background-color 0.5s;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.scroll-down:hover {
  color: var(--white);
  background-color: var(--boek-green-1);
}

@media screen and (min-width: 767px) and (max-width: 1632px) {
  .test-drive-mobile-section {
    flex: 0 0 auto;
    width: 90%;
    box-sizing: border-box;
    background-color: var(--test-drive-mobile-section-background);
  }

  #test-drive-mobile {
    background-color: var(--test-drive-mobile-3);
  }

  .swipable-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .scroll-down {
    margin-left: 260px;
  }
}

@media screen and (min-width: 775px) and (max-width: 1055px) {
  .badges {
    right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1154px) {
  .badges {
    display: none;
  }
}

.touch-space {
  padding: 120px;
}

@media screen and (min-width: 770px) and (max-width: 1064px) {
  .scroll-down {
    display: none;
  }
}

@media screen and (min-width: 658px) and (max-width: 770px) {
  .intro {
    max-width: 80%;
    margin-left: 10%;
  }
}

html[lang="ro"] .scroll-down {
  margin-left: 160px;
  width: 250px;
}

html[lang="ru"] .scroll-down {
  margin-left: 170px;
  width: 300px;
}

@media screen and (min-width: 768px) and (max-width: 934px) {
  .slogan {
    min-width: 100%;
  }
}

@media screen and (min-height: 1844px) {
  .scroll-down {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1456px) {
  .md {
    display: none;
  }

  .quick-office {
    display: none;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pop-up-overlay);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: var(--white);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--link-gray);
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.form-title {
  font-size: 25px;
  margin-bottom: 5px;
}

#form-desc {
  margin-bottom: -15px;
}

#form-sup {
  margin-top: 0 !important;
  font-size: 12px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
}

.form-control:focus {
  outline: none;
  border-color: #3498db;
}

.btn-primary {
  background-color: var(--boek-green-1);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--boek-green-2);
  color: var(--white);
}

#privacy {
  width: 700px;
  padding: 20px;
  border-radius: 8px;
}

.privacy-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.privacy-subtitle {
  font-size: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.info-popup {
  width: 700px;
  margin: 35px;
  display: flex;
  flex-direction: column;
}

.privacy-p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.info-title {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}

.info-description {
  font-size: 16px;
  margin-bottom: 15px;
  max-width: 510px;
}

.info-description a {
  font-size: 16px;
}

.build-number h1 {
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--black);
}

.build-number p {
  width: 490px;
  color: var(--black);
}
/* CSS styles for the build number */
.build-number {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

/* CSS styles for the dependencies */
.dependencies {
  position: absolute;
  font-size: 14px;
  margin-left: 70%; /* Align to the right */
  text-align: left; /* Text alignment to the right */
  margin-top: 0; /* Add this to align to the top */
}

.dependencies h1 {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}

.dependency-item {
  display: block;
  margin-right: 10px;
}

/* CSS styles for the horizontal line */
.divider {
  border-top: 1px solid #ccc;
  margin: 8px 0;
}

.aeolus-card {
  width: 147px;
  height: 104px;
  position: absolute;
  background-color: #e9e9e9;
  color: var(--black);
  margin-left: 68%;
  border-radius: 5%;
  margin-top: 29%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.aeolus-card-elements h1 {
  margin-top: 10px;
  font-weight: 900;
  font-size: 23px;
  margin-bottom: -2px;
}

.aeolus-card-elements p {
  font-size: 9px;
}

.aeolus-card-elements {
  margin: 0 auto;
}

.aeolus-card-elements p #name {
  font-weight: 900;
}

.aeolus-card-elements p #heart {
  color: red;
}

#ignore-link:hover {
  padding: 0px;
  background-color: #ffffff00;
}

.dropdown-content .divider {
  border-top: 1px solid #ccc;
  margin: 4px 20%;
}