@import "/fonts/inter/inter.css";
@import url("/fonts/geist-mono/geist-mono.css");
@import url("/fonts/geist-mono-variable/geist-mono-variable.css");

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0;
  max-width: 100% !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: "Geist Mono";
  font-weight: 500;
}